<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="antenne; else loading" id="antenne" >Antenne {{ antenne?.fields.op_name}} à {{ antenne?.fields.com_name }}, {{ antenne?.fields.dep_name }} ({{ antenne?.fields.dep_code }})</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-googlemaps id="map"></app-googlemaps>
  <ion-footer *ngIf="antenne; else loading" id="antenne" scroll-y="true">
      <ion-item>
        <ion-grid>
          <ion-col>
            <ion-row>
              <div class="info-type-container">
                <h5>Installée le :&nbsp;</h5>
                <p>{{ antenne?.fields.release_date_5g | date: 'longDate' }}</p>
              </div>
            </ion-row>
            <ion-row>
              <div class="info-type-container">
                <h5>Fréquence(s) :&nbsp;</h5>
                <p>{{ antenne?.fields.frequency }} MHz</p>
              </div>
            </ion-row>
            <ion-row>
              <div class="info-type-container">
                <h5>Intercommunalité :&nbsp;</h5>
                <p>{{ antenne?.fields.epci_name }}</p>
              </div>
            </ion-row>      
          </ion-col>
        </ion-grid>
      </ion-item>
  </ion-footer>

  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
