<ion-header ion-col *ngIf="near;">
    <ion-toolbar color="primary">
      <ion-title>Antennes proches de vous</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header *ngIf="!near;">
  <ion-toolbar color="primary">
    <ion-title>Liste des antennes 5G</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-searchbar placeholder="Rechercher par numéro de département" [(ngModel)]="depNumber" (ionChange)="searchChanged($event)"></ion-searchbar>
 
  <ion-item *ngIf="near;">
    <ion-label>Choisir votre région</ion-label>
    <ion-select [(ngModel)]="region" (ionChange)="changeRegion($event)">
      <ion-select-option value="e=Auvergne-Rhône-Alpes">Auvergne-Rhône-Alpes</ion-select-option>
      <ion-select-option value="e=Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</ion-select-option>
      <ion-select-option value="e=Bretagne">Bretagne</ion-select-option>
      <ion-select-option value="e=Centre-Val de Loire">Centre-Val de Loire</ion-select-option>
      <ion-select-option value="e=Corse">Corse</ion-select-option>
      <ion-select-option value="e=Grand Est">Grand Est</ion-select-option>
      <ion-select-option value="e=Hauts-de-France">Hauts-de-France</ion-select-option>
      <ion-select-option value="e=Île-de-France">Île-de-France</ion-select-option>
      <ion-select-option value="e=Normandie">Normandie</ion-select-option>
      <ion-select-option value="e=Nouvelle-Aquitaine">Nouvelle-Aquitaine</ion-select-option>
      <ion-select-option value="e=Occitanie">Occitanie</ion-select-option>
      <ion-select-option value="e=Pays de la Loire">Pays de la Loire</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="near;">
    <ion-label>Distance maximum</ion-label>
    <ion-select [(ngModel)]="distance" (ionChange)="changeDistance($event)">
      <ion-select-option value="-1">Peu importe</ion-select-option>
      <ion-select-option value="1">1 km</ion-select-option>
      <ion-select-option value="5">5 km</ion-select-option>
      <ion-select-option value="10">10 km</ion-select-option>
      <ion-select-option value="20">20 km</ion-select-option>
      <ion-select-option value="50">50 km</ion-select-option>
      <ion-select-option value="100">100 km</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>Filtrer par opérateur</ion-label>
    <ion-select [(ngModel)]="operateur" (ionChange)="filterByOperateur($event)">
      <ion-select-option value="Tous">Tous</ion-select-option>
      <ion-select-option value="e=Bouygues Telecom">Bouygues Telecom</ion-select-option>
      <ion-select-option value="e=Free Mobile">Free Mobile</ion-select-option>
      <ion-select-option value="e=Orange">Orange</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Filtrer par fréquence</ion-label>
    <ion-select [(ngModel)]="frequence" (ionChange)="filterByFrequence($event)">
      <ion-select-option value="Toutes">Toutes</ion-select-option>
      <ion-select-option value="y=700">700 MHz</ion-select-option>
      <ion-select-option value="y=2100">2100 MHz</ion-select-option>
      <ion-select-option value="y=3100">3500 MHz</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="max-width: max(110px, 10%);">
            <label class="col-title">Opérateur</label>
          </ion-col>
          <ion-col>
            <label class="col-title">Nom de la commune</label> 
          </ion-col>
          <ion-col>        
            <label class="col-title">Fréquences</label>
          </ion-col> 
          <ion-col *ngIf="near;">
            <label class="col-title">Distance</label>
          </ion-col>        
        </ion-row>
      </ion-grid>
    </ion-item>

  <ion-content scroll-y="true"> 
  <ion-list *ngIf="list; else loading" id="list">
 
    <ion-item button *ngFor="let item of list" [routerLink]="['/', 'antennes', item.recordid]">
      
      <ion-grid>
        <ion-row>
          <ion-col style="max-width: max(110px, 10%);">
            <ion-label text-wrap style="width: 50px;">
              <div style="display: flex; justify-content: center; height: 25px;">
                <img src="assets/images/orange.png" *ngIf="item.fields.op_name == 'Orange'">
                <img src="assets/images/free.png" *ngIf="item.fields.op_name == 'Free Mobile'">
                <img src="assets/images/sfr.png" *ngIf="item.fields.op_name == 'SFR'">
                <img src="assets/images/bouygues.png" *ngIf="item.fields.op_name == 'Bouygues Telecom'">
              </div>
              <!-- {{ item.fields.op_name }} -->
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label text-wrap>
              {{ item.fields.com_name }} ({{ item.fields.dep_code }})
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label text-wrap>
              {{ item.fields.frequency }} MHz
            </ion-label>
          </ion-col>
          <ion-col *ngIf="near;">
            <ion-label text-wrap>
              {{ item.distance }} km
            </ion-label>
          </ion-col>       
        </ion-row>
      </ion-grid> 
    </ion-item>
 
  </ion-list>


  <ion-infinite-scroll id="infinite-scroll" threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Plus d'antennes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ng-template #loading>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>