ion-menu-button {
  color: var(--ion-color-primary);
}

:host, body, html {
  font-size: 100%;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.col-title {
  font-weight: 600;
  font-size: 120%;
}

@media screen and (max-width: 600px) {
  .col-title {
    font-size: 95% !important;
  }
  ion-label {
    font-size: 14px !important;
  }
}